@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.test {
    color: red;
    font-weight: bold;
    text-align: center;
    background-color: yellow;
    font-family: "Roboto", sans-serif;
    font-size: 48px;

}

button {
    background-color: darkblue;
    height: 60px;
    width: 200px;
    padding: auto;
    border: 2px solid black;
    margin: 10px;
    justify-content: center;
}